<h1>Top#index</h1>

<%# 通知／エラーメッセージ %>
<% if !flash[:notice].blank? %>
  <p style="color: green;"><%=raw flash[:notice] %></p>
<% elsif !flash[:alert].blank? %>
  <p style="color: red;"><%=raw flash[:alert] %></p>
<% end %>

<%= form_for( :user, :url => { :action => "login" } ) do |f| %>
  <div class="field">
    <%= f.label :login_id, t("user.login_id") %><br />
    <%= f.text_field :login_id %>
  </div>
  
  <div class="field">
    <%= f.label :password, t("user.password") %><br />
    <%= f.password_field :password %>
  </div>
  
  <div class="actions">
    <%= f.submit t("user.login") %>
  </div>
<% end %>

<br />

<%= link_to t("user.new"), { action: 'new' } %><br />

<br />