
<h2><%= t("function.list") %></h2>

<%= link_to( "全て", action: "index" ) %>

<% 1.upto(@project.function_level){ |level| %>
  <%= link_to_unless_current( t("testcase_function_level_#{level}"), action: "index", level: level ) %>
<% } %>

<br /><br />

<%= link_to t("new"), action: "new", to_action: "create", level: @level %><br />

<br />

<table>
  <tr>
    <th><%= t("function.level") %></th>
    <th><%= t("function.level_name") %></th>
    <th><%= t("function.name") %></th>
    <% if @functions.length > 0 %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @functions.each do |function| %>
  <tr>
    <td><%= function.level %></td>
    <td><%= t("testcase_function_level_#{function.level}") %></td>
    <td><%= function.name %></td>
    <td><%= link_to t("edit"), action: "edit", id: function.id, to_action: "update", level: @level %></td>
    <td><%= link_to t("delete"), { action: "destroy", id: function.id, level: @level }, onClick: "return confirm('「#{function.name}」を削除します。よろしいですか？');" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t("new"), action: "new", to_action: "create", level: @level %><br />

<br />
