
<h2><%= "#{t('testcase.title')} #{t('edit')}" %></h2>

<%= form_for( :testcase, url: { action: 'update', id: @testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display } ) do |f| %>
  <% if @testcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testcase.errors.count, "error") %> prohibited this testcase from being saved:</h2>

      <ul>
      <% @testcase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%# 機能階層 %>
  <% 1.upto(@project.function_level){ |level| %>
  <div class="field">
    <%= f.label "function_level_#{level}", t("testcase_function_level_#{level}") %><br />
    <select id="function_level_<%= level %>" name="function_level[<%= level %>]" style="width: 200px;">
      <option value="">-</option>
      <% @project.functions.each{ |func| %>
      <% if func.level == level %>
        <% if @have_functions[level][:id] == func.id %>
            <option value="<%= func.id %>" selected="selected"><%= func.name %></option>
          <% else%>
            <option value="<%= func.id %>"><%= func.name %></option>
          <% end %>
        <% end %>
      <% } %>
    </select>
    <br />
  </div>
  <% } %>

  <%# タイトル %>
  <div class="field">
    <%= f.label :title, t("testcase.title") %><br />
    <%= f.text_field :title, size: 50 %>
  </div>
  
  <%# ページURL %>
  <div class="field">
    <%= f.label :page, t("testcase.page") %><br />
    <%= f.text_field :page, size: 50 %>
  </div>
  
  <%# 操作 %>
  <div class="field">
    <%= f.label :operation, t("testcase.operation") %><br />
    <%= f.text_area :operation, rows: 10 %>
  </div>
  
  <%# 結果 %>
  <div class="field">
    <%= f.label :result, t("testcase.result") %><br />
    <%= f.text_area :result, rows: 10 %>
  </div>

  <%# 実施チェック %>
  <div class="field">
    <%= f.check_box( :operation_check, { checked: false }, "done" ) %>
    <%= f.label :operation_check, t("testcase.operation_check") %>
  </div>

  <%# 種別 %>
  <div class="field">
    <%= f.label :category, t("testcase.category") %><br />
    <%= f.select :category, CATEGORY, include_blank: "-" %>
  </div>

  <%# ステータス %>
  <div class="field">
    <%= f.label :status, t("testcase.status") %><br />
    <%= f.select :status, STATUS %>
  </div>

  <%# 判定 %>
  <div class="field">
    <%= f.label :judge, t("testcase.judge") %><br />
    <%= f.select :judge, JUDGE, include_blank: "-" %>
  </div>

  <%# OS %>
  <div class="field">
    <%= f.label :os, t("testcase.os") %><br />
    <%= f.select :os, OS, include_blank: "-" %>
  </div>

  <%# ブラウザ %>
  <div class="field">
    <%= f.label :browser, t("testcase.browser") %><br />
    <%= f.select :browser, BROWSER, include_blank: "-" %>
  </div>

  <%# specフラグ %>
  <div class="field">
    <%= f.label :spec_flag, t("testcase.spec_flag") %><br />
    <%= f.select :spec_flag, SPEC_FLAG %>
  </div>
  
  <%# ログインユーザID %>
  <div class="field">
    <%= f.label :test_user_id, t("testcase.test_user_id") %><br />
    <%= f.text_field :test_user_id %>
  </div>

  <%# チケット番号 %>
  <div class="field">
    <%= f.label :ticket_no, t("testcase.ticket_no") %><br />
    <%= f.text_field :ticket_no %>
  </div>

  <%# 備考 %>
  <div class="field">
    <%= f.label :note, t("testcase.note") %><br />
    <%= f.text_area :note, rows: 10 %>
  </div>
  
  <div class="actions">
    <%= f.submit t("update"), disable_with: t("update") %>
  </div>
<% end %>

<br />

<%= link_to t("show"), action: "show", id: @testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display %>
　<%= link_to t("list"), action: 'index', order: @order, search: @search, set_filter: @set_filter, display: @display %><br />
<br />
