<h1><%= t("testcase.list") %></h1>

<%# ---------- 検索フォーム ---------- %>
<%= form_tag( action: "index", order: @order, set_filter: @set_filter, display: @display ) do %>
  <%# 検索キーワード %>
  <%= text_field_tag "search[word]", @search[:word] %>
  
  <%# 検索対象セレクトボックス %>
  <select id="search_target" name="search[target]">
    <% SEARCH_TRAGET_LIST.each{ |target| %>
      <% if @search[:target] == target %>
        <option value="<%= target %>" selected="selected"><%= t("testcase.#{target}") %></option>
      <% else%>
        <option value="<%= target %>"><%= t("testcase.#{target}") %></option>
      <% end %>
    <% } %>
  </select>

  <%# 検索ボタン %>
	<%= submit_tag "検索", :disable_with => "検索" %>
<% end %>

<br />

<%# ---------- フィルタフォーム ---------- %>
<%= form_tag( action: "index", order: @order, search: @search, display: @display ) do %>
  <div class="search">
  <table>
    <%# 機能階層 %>
    <% 1.upto(@project.function_level){ |level| %>
    <tr>
      <td><%= t("testcase_function_level_#{level}") %>：</td>
      <td><%= select_tag( "set_filter[function_level][#{level}]", options_from_collection_for_select( @functions[level], :id, :name, @set_filter[:function_level][level.to_s] ), { prompt: "-" } ) %></td>
    </tr>
    <% } %>
    
    <%# 実施者 %>
    <tr>
      <td><%= t("testcase.operation_user") %>：</td>
      <td><%= select_tag( "set_filter[operation_user_id]", options_from_collection_for_select( @user_names, :id, :display_name, @set_filter[:operation_user_id] ), { prompt: "-" } ) %></td>
    </tr>
    
    <%# 種別 %>
    <tr>
      <td><%= t("testcase.category") %>：</td>
      <td><%= select_tag( "set_filter[category]", options_for_select( CATEGORY, selected: @set_filter[:category] ), { prompt: "-" } ) %></td>
    </tr>
    
    <%# ステータス %>
    <tr>
      <td><%= t("testcase.status") %>：</td>
      <td><%= select_tag( "set_filter[status]", options_for_select( STATUS, selected: @set_filter[:status] ), { prompt: "-" } ) %></td>
    </tr>
    
    <%# 判定 %>
    <tr>
      <td><%= t("testcase.judge") %>：</td>
      <td><%= select_tag( "set_filter[judge]", options_for_select( JUDGE, selected: @set_filter[:judge] ), { prompt: "-" } ) %></td>
    </tr>
    
    <%# specフラグ %>
    <tr>
      <td><%= t("testcase.spec_flag") %>：</td>
      <td><%= select_tag( "set_filter[spec_flag]", options_for_select( SPEC_FLAG, selected: @set_filter[:spec_flag] ), { prompt: "-" } ) %></td>
    </tr>
    
    <%# 対応者 %>
    <tr>
      <td><%= t("testcase.check_user") %>：</td>
      <td><%= select_tag( "set_filter[check_user_id]", options_from_collection_for_select( @user_names, :id, :display_name, @set_filter[:check_user_id] ), { prompt: "-" } ) %>
    </tr>
    
    <%# 作成者 %>
    <tr>
      <td><%= t("testcase.create_user") %>：</td>
      <td><%= select_tag( "set_filter[user_id]", options_from_collection_for_select( @user_names, :id, :display_name, @set_filter[:user_id] ), { prompt: "-" } ) %>
    </tr>
  </table>
  </div>

  <%# フィルタボタン %>
	<%= submit_tag "フィルタ", :disable_with => "フィルタ" %>
<% end %>

<br />

<%= link_to t("new"), action: 'new', to_action: "create", order: @order, search: @search, set_filter: @set_filter, display: @display %><br />

<br />

<%# ---------- 表示項目選択フォーム ---------- %>
<%= form_tag( action: "index", order: @order, search: @search, set_filter: @set_filter ) do %>
	<%= submit_tag "　表示　", :disable_with => "　表示　" %>
	<%= submit_tag "リセット", :disable_with => "リセット" %>
  
  <%= check_box_tag "display[title]", true, @display[:title] -%><%= label_tag "display[title]", t("testcase.title") %>
  <%= check_box_tag "display[operation_user_id]", true, @display[:operation_user_id] -%><%= label_tag "display[operation_user_id]", t("testcase.operation_user") %>
  <%= check_box_tag "display[operation_at]", true, @display[:operation_at] -%><%= label_tag "display[operation_at]", t("testcase.operation_at") %>
  <%= check_box_tag "display[operation]", true, @display[:operation] -%><%= label_tag "display[operation]", t("testcase.operation") %>
  <%= check_box_tag "display[result]", true, @display[:result] -%><%= label_tag "display[result]", t("testcase.result") %>
  <%= check_box_tag "display[category]", true, @display[:category] -%><%= label_tag "display[category]", t("testcase.category") %>
  <%= check_box_tag "display[status]", true, @display[:status] -%><%= label_tag "display[status]", t("testcase.status") %>
  <%= check_box_tag "display[judge]", true, @display[:judge] -%><%= label_tag "display[judge]", t("testcase.judge") %>
  <%= check_box_tag "display[ticket_no]", true, @display[:ticket_no] -%><%= label_tag "display[ticket_no]", t("testcase.ticket_no") %>
  <%= check_box_tag "display[spec_flag]", true, @display[:spec_flag] -%><%= label_tag "display[spec_flag]", t("testcase.spec_flag") %>
  <%= check_box_tag "display[check_at]", true, @display[:check_at] -%><%= label_tag "display[check_at]", t("testcase.check_at") %>
  <%= check_box_tag "display[check_user_id]", true, @display[:check_user_id] -%><%= label_tag "display[check_user_id]", t("testcase.check_user") %>
  <%= check_box_tag "display[note]", true, @display[:note] -%><%= label_tag "display[note]", t("testcase.note") %>
  <%= check_box_tag "display[created_at]", true, @display[:created_at] -%><%= label_tag "display[created_at]", t("testcase.created_at") %>
  <%= check_box_tag "display[user_id]", true, @display[:user_id] -%><%= label_tag "display[user_id]", t("testcase.create_user") %>
<% end %>

<%# ページング %>
<% if @testcases.total_count > PER_PAGE %>
  <br />
  <%= paginate @testcases -%>
<% end %>

<div style="text-align: right;"><%=raw page_entries_info @testcases %></div>

<%# ---------- テストケース一覧 ---------- %>
<table>
  <tr>
    <%# ID %>
    <th style="white-space: nowrap;"><%= link_to @order[:mark][:id].to_s + t("testcase.id"), { action: 'index', order: { key: "id", sort: @order[:item][:id] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    
    <%# 機能階層 %>
    <% 1.upto(@project.function_level){ |level| %>
      <th><%= t("testcase_function_level_#{level}") %></th>
    <% } %>
    
    <%# タイトル %>
    <% if @display[:title] == "true" %>
    <th style="white-space: nowrap;"><%= link_to @order[:mark][:title].to_s + t("testcase.title"), { action: 'index', order: { key: "title", sort: @order[:item][:title] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 実施者 %>
    <% if @display[:operation_user_id] == "true" %>
    <th><%= link_to @order[:mark][:operation_user_id].to_s + t("testcase.operation_user"), { action: 'index', order: { key: "operation_user_id", sort: @order[:item][:operation_user_id] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 実施日 %>
    <% if @display[:operation_at] == "true" %>
    <th><%= link_to @order[:mark][:operation_at].to_s + t("testcase.operation_at"), { action: 'index', order: { key: "operation_at", sort: @order[:item][:operation_at] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# ページURL %>
<% if false %>
<th><%= link_to @order[:mark][:page].to_s + t("testcase.page"), { action: 'index', order: { key: "page", sort: @order[:item][:page] }, search: @search, set_filter: @set_filter } %></th>
<% end %>
    
    <%# 操作 %>
    <% if @display[:operation] == "true" %>
    <th style="width: 200px;"><%= link_to @order[:mark][:operation].to_s + t("testcase.operation"), { action: 'index', order: { key: "operation", sort: @order[:item][:operation] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 結果 %>
    <% if @display[:result] == "true" %>
    <th style="width: 200px;"><%= link_to @order[:mark][:result].to_s + t("testcase.result"), { action: 'index', order: { key: "result", sort: @order[:item][:result] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 種別 %>
    <% if @display[:category] == "true" %>
    <th><%= link_to @order[:mark][:category].to_s + t("testcase.category"), { action: 'index', order: { key: "category", sort: @order[:item][:category] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# ステータス %>
    <% if @display[:status] == "true" %>
    <th><%= link_to @order[:mark][:status].to_s + t("testcase.status"), { action: 'index', order: { key: "status", sort: @order[:item][:status] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 判定 %>
    <% if @display[:judge] == "true" %>
    <th><%= link_to @order[:mark][:judge].to_s + t("testcase.judge"), { action: 'index', order: { key: "judge", sort: @order[:item][:judge] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# チケット番号 %>
    <% if @display[:ticket_no] == "true" %>
    <th><%= link_to @order[:mark][:ticket_no].to_s + t("testcase.ticket_no"), { action: 'index', order: { key: "ticket_no", sort: @order[:item][:ticket_no] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# specフラグ %>
    <% if @display[:spec_flag] == "true" %>
    <th><%= link_to @order[:mark][:spec_flag].to_s + t("testcase.spec_flag"), { action: 'index', order: { key: "spec_flag", sort: @order[:item][:spec_flag] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 対応日 %>
    <% if @display[:check_at] == "true" %>
    <th><%= link_to @order[:mark][:check_at].to_s + t("testcase.check_at"), { action: 'index', order: { key: "check_at", sort: @order[:item][:check_at] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 対応者 %>
    <% if @display[:check_user_id] == "true" %>
    <th><%= link_to @order[:mark][:check_user_id].to_s + t("testcase.check_user"), { action: 'index', order: { key: "check_user_id", sort: @order[:item][:check_user_id] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 備考 %>
    <% if @display[:note] == "true" %>
    <th style="width: 200px;"><%= link_to @order[:mark][:note].to_s + t("testcase.note"), { action: 'index', order: { key: "note", sort: @order[:item][:note] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 作成日 %>
    <% if @display[:created_at] == "true" %>
    <th><%= link_to @order[:mark][:created_at].to_s + t("testcase.created_at"), { action: 'index', order: { key: "created_at", sort: @order[:item][:created_at] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <%# 作成者 %>
    <% if @display[:user_id] == "true" %>
    <th><%= link_to @order[:mark][:user_id].to_s + t("testcase.create_user"), { action: 'index', order: { key: "user_id", sort: @order[:item][:user_id] }, search: @search, set_filter: @set_filter, display: @display } %></th>
    <% end %>
    
    <% if @testcases.length > 0 %>
    <th></th>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @testcases.each do |testcase| %>
  <tr>
    <%# ID %>
    <td style="white-space: nowrap;"><%= testcase.id %></td>
    
    <%# 機能階層(テストケースごと保有機能階層ハッシュ生成) %>
    <% have_function = Hash.new %>
    <% testcase.have_functions.sort{ |h1, h2| h1.level <=> h2.level }.each{ |f| have_function[f.level] = f.function.try(:name) } %>
    <% 1.upto(@project.function_level){ |level| %>
      <td style="white-space: nowrap;"><%= have_function[level] %></td>
    <% } %>
    
    <%# タイトル %>
    <% if @display[:title] == "true" %>
    <td style="white-space: nowrap;"><%= testcase.title %></td>
    <% end %>
    
    <%# 実施者 %>
    <% if @display[:operation_user_id] == "true" %>
    <td style="white-space: nowrap;"><%= User.get_name( testcase.operation_user_id ) %></td>
    <% end %>
    
    <%# 実施日 %>
    <% if @display[:operation_at] == "true" %>
    <td>
      <% unless testcase.operation_at.blank? %>
        <%= testcase.operation_at.strftime("%Y/%m/%d") + "(#{WDAYS[testcase.operation_at.wday]})" %>
      <% else %>
        <center><%= link_to t("done"), { action: 'update', id: testcase.id, testcase: { operation_user_id: session[:user_id], operation_at: Time.now }, order: @order, search: @search, set_filter: @set_filter, display: @display }, onClick: "return confirm('「#{testcase.title}」を実施します。よろしいですか？');" %></center>
      <% end %>
    </td>
    <% end %>
    
    <%# ページURL %>
<% if false %>
    <td><%= testcase.page %></td>
<% end %>
    
    <%# 操作 %>
    <% if @display[:operation] == "true" %>
    <td style="white-space: nowrap;"><%=raw Testcase.to_br( testcase.operation ) %></td>
    <% end %>
    
    <%# 結果 %>
    <% if @display[:result] == "true" %>
    <td style="white-space: nowrap;"><%=raw Testcase.to_br( testcase.result ) %></td>
    <% end %>
    
    <%# 種別 %>
    <% if @display[:category] == "true" %>
    <td style="white-space: nowrap;"><%= testcase.category %></td>
    <% end %>
    
    <%# ステータス %>
    <% if @display[:status] == "true" %>
    <td><%= testcase.status %></td>
    <% end %>
    
    <%# 判定 %>
    <% if @display[:judge] == "true" %>
      <% if testcase.judge == "OK" then color = "blue" %>
      <% elsif testcase.judge == "NG" then color = "red" %>
      <% end %>
      <td style="color: <%= color %>;"><%= testcase.judge %></td>
    <% end %>
    
    <%# チケット番号 %>
    <% if @display[:ticket_no] == "true" %>
    <td><%= link_to testcase.ticket_no, "http://redmine.pixta.jp/issues/#{testcase.ticket_no}", target: "_blank" unless testcase.ticket_no.blank? %></td>
    <% end %>
    
    <%# specフラグ %>
    <% if @display[:spec_flag] == "true" %>
    <td><%= testcase.spec_flag %></td>
    <% end %>
    
    <%# 対応日 %>
    <% if @display[:check_at] == "true" %>
    <td>
      <% unless testcase.check_at.blank? %>
        <%= testcase.check_at.strftime("%Y/%m/%d") + "(#{WDAYS[testcase.check_at.wday]})" %>
      <% else %>
        <center><%= link_to t("check"), { action: 'update', id: testcase.id, testcase: { check_user_id: session[:user_id], check_at: Time.now }, order: @order, search: @search, set_filter: @set_filter, display: @display }, onClick: "return confirm('「#{testcase.title}」を対応します。よろしいですか？');" %></center>
      <% end %>
    </td>
    <% end %>
    
    <%# 対応者 %>
    <% if @display[:check_user_id] == "true" %>
    <td style="white-space: nowrap;"><%= User.get_name( testcase.check_user_id ) %></td>
    <% end %>
    
    <%# 備考 %>
    <% if @display[:note] == "true" %>
    <td style="white-space: nowrap;"><%=raw Testcase.to_br( testcase.note ) %></td>
    <% end %>
    
    <%# 対応日 %>
    <% if @display[:created_at] == "true" %>
    <td><%= testcase.created_at.strftime("%Y/%m/%d") + "(#{WDAYS[testcase.created_at.wday]})" unless testcase.created_at.blank? %></td>
    <% end %>
    
    <%# 対応者 %>
    <% if @display[:user_id] == "true" %>
    <td style="white-space: nowrap;"><%= User.get_name( testcase.user_id ) %></td>
    <% end %>

    <td style="white-space: nowrap;"><%= link_to t("show"), { action: 'show', id: testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display } %></td>
    <td style="white-space: nowrap;"><%= link_to t("edit"), { action: 'edit', id: testcase.id, to_action: "update", order: @order, search: @search, set_filter: @set_filter, display: @display } %></td>
    <td style="white-space: nowrap;"><%= link_to t("delete"), { action: 'delete', id: testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display }, onClick: "return confirm('「#{testcase.title}」を削除します。よろしいですか？');" %></td>
  </tr>
<% end %>
</table>

<br />

<%# ページング %>
<%= paginate @testcases %>

<br />

<%= link_to t("new"), action: 'new', to_action: "create", order: @order, search: @search, set_filter: @set_filter, display: @display %><br />

<br />
