
<h2><%= "#{t('testcase.title')} #{t('show')}" %></h2>

<%= link_to t("edit"), { action: 'edit', id: @testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display } %>
　<%= link_to t("list"), action: 'index', order: @order, search: @search, set_filter: @set_filter, display: @display %><br />

<br />

<table>
  <tr>
    <th>項目名</th>
    <th>内容</th>
  </tr>

  <%# ID %>
  <tr>
    <th><%= t("testcase.id") %></th>  
    <td><%= @testcase.id %></td>  
  </tr>

<%# 機能階層 %>
<% 1.upto(@project.function_level){ |level| %>
  <tr>
    <th><%= t("testcase_function_level_#{level}") %></th>  
    <td><%= @have_functions[level] %></td>  
  </tr>
<% } %>

  <%# タイトル %>
  <tr>
    <th><%= t("testcase.title") %></th>  
    <td><%= @testcase.title %></td>  
  </tr>

  <%# 実施者 %>
  <tr>
    <th><%= t("testcase.operation_user") %></th>  
    <td><%= User.get_name( @testcase.operation_user_id ) %></td>  
  </tr>

  <%# 実施日 %>
  <tr>
    <th><%= t("testcase.operation_at") %></th>  
    <td><%= @testcase.operation_at.strftime("%Y/%m/%d") + "(#{WDAYS[@testcase.operation_at.wday]})" unless @testcase.operation_at.blank? %></td>  
  </tr>

  <%# 操作 %>
  <tr>
    <th><%= t("testcase.operation") %></th>  
    <td><%=raw Testcase.to_br( @testcase.operation ) %></td>  
  </tr>

  <%# 結果 %>
  <tr>
    <th><%= t("testcase.result") %></th>  
    <td><%=raw Testcase.to_br( @testcase.result ) %></td>  
  </tr>

  <%# 種別 %>
  <tr>
    <th><%= t("testcase.category") %></th>  
    <td><%= @testcase.category %></td>  
  </tr>

  <%# ステータス %>
  <tr>
    <th><%= t("testcase.status") %></th>  
    <td><%= @testcase.status %></td>  
  </tr>

  <%# 判定 %>
  <tr>
    <th><%= t("testcase.judge") %></th>  
    <td><%= @testcase.judge %></td>  
  </tr>

  <%# チケット番号 %>
  <tr>
    <th><%= t("testcase.ticket_no") %></th>  
    <td>
      <%# カンマ区切り対応 2012/02/29 %>
      <% unless @testcase.ticket_no.blank? %>
        <% tickets = @testcase.ticket_no.split(",")  %>
        <% tickets.each_with_index{ |ticket_no, index| %>
          <%= link_to ticket_no, "http://redmine.pixta.jp/issues/#{ticket_no}", target: "_blank" %><%= "," unless (index+1) == tickets.length %>
        <% } %>
      <% end %>
    </td>  
  </tr>

  <%# specフラグ %>
  <tr>
    <th><%= t("testcase.spec_flag") %></th>  
    <td><%= @testcase.spec_flag %></td>  
  </tr>

  <%# 対応者 %>
  <tr>
    <th><%= t("testcase.check_user") %></th>
    <td><%= User.get_name( @testcase.check_user_id ) %></td>  
  </tr>

  <%# 対応日 %>
  <tr>
    <th><%= t("testcase.check_at") %></th>  
    <td><%= @testcase.check_at.strftime("%Y/%m/%d") + "(#{WDAYS[@testcase.check_at.wday]})" unless @testcase.check_at.blank? %></td>  
  </tr>

  <%# 備考 %>
  <tr>
    <th><%= t("testcase.note") %></th>  
    <td><%=raw Testcase.to_br( @testcase.note ) %></td>  
  </tr>

  <%# 作成者 %>
  <tr>
    <th><%= t("testcase.create_user") %></th>
    <td><%= User.get_name( @testcase.user_id ) %></td>
  </tr>

  <%# 作成日 %>
  <tr>
    <th><%= t("testcase.created_at") %></th>  
    <td><%= @testcase.created_at.strftime("%Y/%m/%d") + "(#{WDAYS[@testcase.created_at.wday]})" unless @testcase.created_at.blank? %></td>  
  </tr>

  <%# ページURL %>
  <tr>
    <th><%= t("testcase.page") %></th>  
    <td><%= link_to @testcase.page, @testcase.page, target: "_blank" %></td>  
  </tr>

  <%# OS %>
  <tr>
    <th><%= t("testcase.os") %></th>  
    <td><%= @testcase.os %></td>  
  </tr>

  <%# ブラウザ %>
  <tr>
    <th><%= t("testcase.browser") %></th>  
    <td><%= @testcase.browser %></td>  
  </tr>

  <%# テストログインユーザID %>
  <tr>
    <th><%= t("testcase.test_user_id") %></th>  
    <td><%= @testcase.test_user_id %></td>  
  </tr>

</table>

<br />

<%= link_to t("edit"), { action: 'edit', id: @testcase.id, order: @order, search: @search, set_filter: @set_filter, display: @display } %>
　<%= link_to t("list"), action: 'index', order: @order, search: @search, set_filter: @set_filter, display: @display %><br />
<br />
